* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
}

.twitter-mobile {
  width: 400px;
}

.header {
  position: sticky;
  top: 0;
  border: 1px solid rgb(230, 230, 230);
  background-color: white;
  width: 100%;
  height: 100px;
}

.head-wrap {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50%;
}

input {
  color: black;
  background-color: rgb(237, 237, 237);
  width: 260px;
  height: 25px;
  padding: 10px;
  border-width: 0px;
  border-radius: 30px;
}

.setting {
  color: #60a9ed;
  font-size: 20px;
}

.back-btn {
  padding-top: 5px;
  font-size: 30px;
  color: #60a9ed;
}

.nav-wrap {
  border-bottom-width: 1px;
  border-bottom-color: rgb(230, 230, 230);
  height: 50%;
}

.nav-bar {
  display: flex;
  font-weight: bold;
  height: 100%;
}

.nav-item {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: rgb(80, 104, 125);
}

.content {
  border: 1px solid rgb(230, 230, 230);
  width: 100%;
  height: 300px;
}

.footer {
  position: sticky;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid rgb(230, 230, 230);
  background-color: white;
  bottom: 0;
  width: 100%;
  height: 70px;
}

.login-btn {
  font-weight: bold;
  color: #60a9ed;
  width: 170px;
  height: 30px;
  background-color: transparent;
  border: 1.5px solid #60a9ed;
  border-radius: 30px;
  color: #61aef7;
}

.signup-btn {
  font-weight: bold;
  color: whitesmoke;
  width: 170px;
  height: 30px;
  border-width: 0;
  border-radius: 30px;
  background-color: #60a9ed;
}

.highlight {
  color: #60a9ed;
  border-bottom: 2px solid #60a9ed;
}
